{% extends 'baseAdmin.html.twig' %}

{% block title %}
	{{ parent() }}À propos de moi
{% endblock %}

{% block body %}

	<div class="card-header">
		<i class="fas fa-table mr-1"></i>
		Configuration de la page principale
	</div>
	<div class="card-body">
		{% form_theme aboutForm 'bootstrap_4_layout.html.twig' %}		{{ form_start(aboutForm) }}
		{{ form_row(aboutForm.rotate) }}
		{{ form_row(aboutForm.description) }}
		{{ form_row(aboutForm.name) }}
		{{ form_row(aboutForm.birth) }}
		{{ form_row(aboutForm.address) }}
		{{ form_row(aboutForm.email) }}
		{{ form_row(aboutForm.phone) }}
		{{ form_row(aboutForm.projects) }}
		{% if aboutForm.fileNamePhoto.vars.data != NULL %}
			<img style='width: 440px' src="{{ asset('download/')}}{{ aboutForm.fileNamePhoto.vars.data }}">
		{% endif %}
		{{ form_row(aboutForm.fileNamePhoto, {'attr': {'lang': 'pl'}})  }}
		{% if aboutForm.fileNameCv.vars.data != NULL %}
			<embed width="440" height="600" name="plugin" src="{{ asset('download/')}}{{ aboutForm.fileNameCv.vars.data }}" type="application/pdf">
		{% endif %}
		{{ form_row(aboutForm.fileNameCv) }}

		{% if is_granted('ROLE_ADMIN') %}
			{{ form_row(aboutForm.submit) }}
		{% else %}
			<a class="btn btn-secondary mb-5" href="#" data-toggle="tooltip" data-html="true" title="<b>UWAGA</b><br>Opcja niedostępna dla gościa">Zapisz</a>
		{% endif %}

		{{ form_end(aboutForm) }}
	</div>
{% endblock %}
