{% extends 'baseAdmin.html.twig' %}

{% block title %}
	{{ parent() }}Compétences
{% endblock %}

{% block body %}
	<div class="card-header">
		<i class="fas fa-table mr-1"></i>
		Tableau des projets
		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-info float-right" href="{{ path('admin_projects_new') }}">Ajouter un projet</a>
		{% else %}
			<a class="btn btn-secondary float-right" href="#" data-toggle="tooltip" data-html="true" title="<b>ATTENTION</b><br>Option non disponible pour le client">Ajouter un projet</a>
		{% endif %}
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Adresse</th>
						<th>Description</th>
						<th style='width: 40px'>Vignette</th>
						<th style='width: 140px'>Date ajoutée</th>
						<th style='width: 140px'>Date de modification</th>
						<th style='width: 20px'></th>
						<th style='width: 20px'></th>
						<th style='width: 15px'></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Nom</th>
						<th>Adresse</th>
						<th>Description</th>
						<th>Vignette</th>
						<th>Date ajouté</th>
						<th>Date de modification</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
				<tbody>
					{% for project in projectsData %}
						<tr>
							<td>{{ project.name }}</td>
							<td>
								<a href="{{ project.pagePath }}">{{ project.pagePath }}</a>
							</td>
							<td>{{ project.description }}</td>
							<td><img src="{{ asset('download/')}}{{ project.photoPath }}" class="img-fluid img-thumbnail"></td>
							<td>{{ project.uploadedAt|date('d.m.Y H:i:s') }}</td>
							<td>{{ project.modificatedAt|date('d.m.Y H:i:s') }}</td>
							{% if is_granted('ROLE_ADMIN') %}
								<td>
									<a href="{{ path('admin_projects_edit' , { 'id': project.id }) }}" class="btn btn-success">Editer</a>
								</td>
								<td>
									<a href="{{ path('admin_projects_delete' , { 'id': project.id }) }}" class="btn btn-danger">Suprimer</a>
								</td>
								<td>
									{% if project.isPublic == '1' %}
										<input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" onchange="window.location.href='{{ path('admin_projects_set_visibility' , { 'id': project.id , 'visibility' : '0'}) }}'"></td>
								{% else %}
									<input type="checkbox" data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" onchange="window.location.href='{{ path('admin_projects_set_visibility' , { 'id': project.id , 'visibility' : '1'}) }}'"></td>
							{% endif %}
						{% else %}
							<td>
								<a href="#" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<b>UWAGA</b><br>Opcja niedostępna dla gościa">Editer</a>
							</td>
							<td>
								<a href="#" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<b>UWAGA</b><br>Opcja niedostępna dla gościa">Suprimer</a>
							</td>
							<td>
								{% if project.isPublic == '1' %}
									<input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-secondary" data-offstyle="outline-secondary"></td>
							{% else %}
								<input type="checkbox" data-toggle="toggle" data-onstyle="outline-secondary" data-offstyle="outline-secondary"></td>
						{% endif %}
					{% endif %}
				</tbody>
			</tr>
		{% endfor %}
	</tbody>
</table>{% endblock %}
