{% extends 'baseAdmin.html.twig' %}

{% block title %}
	{{ parent() }}Nouvelles compétences
{% endblock %}

{% block body %}
	<div class="card-body">
		RUBRIQUE Compétences
		{% form_theme projectsForm 'bootstrap_4_layout.html.twig' %}
		{{ form_start(projectsForm) }}
		{{ form_row(projectsForm.name) }}
		{{ form_row(projectsForm.page_path) }}
		{{ form_row(projectsForm.git_path) }}
		{{ form_row(projectsForm.description) }}
		{% if projectsForm.photo_path.vars.data != NULL %}
			<img style='width: 440px' src="{{ asset('download/')}}{{ projectsForm.photo_path.vars.data }}">
		{% endif %}
		{{ form_row(projectsForm.photo_path) }}
		{{ form_row(projectsForm.submit) }}
		{{ form_end(projectsForm) }}
	</div>
{% endblock %}
