{% extends 'base.html.twig' %}

{% block title %}Connexion au CMS
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div id="layoutAuthentication">
			<div id="layoutAuthentication_content">
				<main>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-5">
								<div class="card shadow-lg border-0 rounded-lg mt-5">
									<div class="card-header">
										<h3 class="text-center font-weight-light my-4">Connexion au CMS PORTFOLIO</h3>
									</div>
									<div class="card-body">
										<form>
											<div class="form-group">
												<label class="small mb-1" for="inputEmailAddress">Nom d'utilisateur</label>
												<input class="form-control py-4" id="inputUsername" type="text" value="{{ last_username }}" name="username" placeholder="Entrez le nom d'utilisateur"/>
											</div>
											<div class="form-group">
												<label class="small mb-1" for="inputPassword">Mot de passe</label>
												<input class="form-control py-4" type="password" name="password" id="inputPassword" placeholder="Tapez votre mot de passe"/>
											</div>
											<div class="form-group">
												<div class="custom-control custom-checkbox">
													<input class="custom-control-input" id="rememberPasswordCheck" type="checkbox"/>
													<label class="custom-control-label" for="rememberPasswordCheck">Mémoriser le mot de passe</label>
												</div>
											</div>
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
											<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">

												<button class="btn btn-lg btn-primary mt-3" type="submit">Connexion
												</button>
											</div>
										</form>
									</div>

								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</form>

	{% endblock %}
