{% extends 'baseAdmin.html.twig' %}

{% block title %}
	{{ parent() }}Compétences
{% endblock %}

{% block body %}

	<div class="card-header">
		<i class="fas fa-table mr-1"></i>
		Tableau récapitulatif des chiffres
		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-info float-right" href="{{ path('admin_summary_numbers_new') }}">Ajouter un numéro</a>
		{% else %}
			<a class="btn btn-secondary float-right" href="#" data-toggle="tooltip" data-html="true" title="<b>UWAGA</b><br>Option non disponible pour le client">Ajouter un numéro</a>
		{% endif %}

	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Pourcentage</th>
						<th style='width: 140px'>Date ajoutée</th>
						<th style='width: 140px'>Date de modification</th>
						<th style='width: 20px'></th>
						<th style='width: 20px'></th>
						<th style='width: 15px'></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Nom</th>
						<th>Poucentage</th>
						<th>Date ajoutée</th>
						<th>Date de modification</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
				<tbody>
					{% for summaryNumber in summaryNumbersData %}
						<tr>
							<td>{{ summaryNumber.name }}</td>
							<td>{{ summaryNumber.numbers }}</td>
							<td>{{ summaryNumber.uploadedAt|date('d.m.Y H:i:s') }}</td>
							<td>{{ summaryNumber.modificatedAt|date('d.m.Y H:i:s') }}</td>
							{% if is_granted('ROLE_ADMIN') %}
								<td>
									<a href="{{ path('admin_summary_numbers_edit' , { 'id': summaryNumber.id }) }}" class="btn btn-success">Editer</a>
								</td>
								<td>
									<a href="{{ path('admin_summary_numbers_delete' , { 'id': summaryNumber.id }) }}" class="btn btn-danger">Suprimer</a>
								</td>
								<td>
									{% if summaryNumber.isPublic == '1' %}
										<input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" onchange="window.location.href='{{ path('admin_summary_numbers_set_visibility' , { 'id': summaryNumber.id , 'visibility' : '0'}) }}'"></td>
								{% else %}
									<input type="checkbox" data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" onchange="window.location.href='{{ path('admin_summary_numbers_set_visibility' , { 'id': summaryNumber.id , 'visibility' : '1'}) }}'"></td>
							{% endif %}
						{% else %}
							<td>
								<a href="#" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<b>UWAGA</b><br>Opcja niedostępna dla gościa">Editer</a>
							</td>
							<td>
								<a href="#" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<b>UWAGA</b><br>Opcja niedostępna dla gościa">Suprimer</a>
							</td>
							<td>
								{% if summaryNumber.isPublic == '1' %}
									<input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-secondary" data-offstyle="outline-secondary"></td>
							{% else %}
								<input type="checkbox" data-toggle="toggle" data-onstyle="outline-secondary" data-offstyle="outline-secondary"></td>
						{% endif %}
					{% endif %}
				</tbody>
			</tr>
		{% endfor %}
	</tbody>
</table>{% endblock %}
