{% extends 'baseAdmin.html.twig' %}

{% block title %}
	{{ parent() }}Nouveaux numéros récapitulatifs
{% endblock %}

{% block body %}

	<div class="card-body">

		Numéros de résumé de la SECTION
		{% form_theme summaryNumbersForm 'bootstrap_4_layout.html.twig' %}
		{{ form_start(summaryNumbersForm) }}
		{{ form_row(summaryNumbersForm.name) }}
		{{ form_row(summaryNumbersForm.numbers) }}
		{{ form_row(summaryNumbersForm.submit) }}
		{{ form_end(summaryNumbersForm) }}
	</div>
{% endblock %}
