{% extends 'baseAdmin.html.twig' %}

{% block title %}
	{{ parent() }}Les technologies
{% endblock %}

{% block body %}
	<div class="card-header">
		<i class="fas fa-table mr-1"></i>
		Tableau des technologies
		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-info float-right" href="{{ path('admin_technologies_new') }}">Ajouter des technologies</a>
		{% else %}
			<a class="btn btn-secondary float-right" href="#" data-toggle="tooltip" data-html="true" title="<b>UWAGA</b><br>Option non disponible pour le client">Ajouter des technologies</a>
		{% endif %}
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Nom</th>
						<th style='width: 40px'>Vignette</th>
						<th style='width: 140px'>date ajoutée</th>
						<th style='width: 140px'>Date de modification</th>
						<th style='width: 20px'></th>
						<th style='width: 20px'></th>
						<th style='width: 15px'></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Nom</th>
						<th>Vignette</th>
						<th>date ajoutée</th>
						<th>Date de modification</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
				<tbody>
					{% for technology in technologiesData %}
						<tr>
							<td>{{ technology.name }}</td>
							<td><img src="{{ asset('download/')}}{{ technology.imagePath }}" class="img-fluid img-thumbnail"></td>
							<td>{{ technology.uploadedAt|date('d.m.Y H:i:s') }}</td>
							<td>{{ technology.modificatedAt|date('d.m.Y H:i:s') }}</td>
							{% if is_granted('ROLE_ADMIN') %}
								<td>
									<a href="{{ path('admin_technologies_edit' , { 'id': technology.id }) }}" class="btn btn-success">Édition</a>
								</td>
								<td>
									<a href="{{ path('admin_technologies_delete' , { 'id': technology.id }) }}" class="btn btn-danger">Effacer</a>
								</td>
								<td>
									{% if technology.isPublic == '1' %}
										<input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" onchange="window.location.href='{{ path('admin_technologies_set_visibility' , { 'id': technology.id , 'visibility' : '0'}) }}'"></td>
								{% else %}
									<input type="checkbox" data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" onchange="window.location.href='{{ path('admin_technologies_set_visibility' , { 'id': technology.id , 'visibility' : '1'}) }}'"></td>
							{% endif %}
							{% else %}
							<td>
									<a href="#" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<b>UWAGA</b><br>Option non disponible pour le client">Édition</a>
								</td>
								<td>
									<a href="#" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<b>UWAGA</b><br>Option non disponible pour le client">Effacer</a>
								</td>
								<td>
									{% if technology.isPublic == '1' %}
										<input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-secondary" data-offstyle="outline-secondary"></td>
								{% else %}
									<input type="checkbox" data-toggle="toggle" data-onstyle="outline-secondary" data-offstyle="outline-secondary"></td>
							{% endif %}
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}
