<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Portfolio de Rémy Ibnaiche
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}"/>
		{% block stylesheets %}
			<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

			<link rel="stylesheet" href="{{ asset('assets/css/open-iconic-bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{ asset('assets/css/animate.css')}}">

			<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css')}}">
			<link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css')}}">
			<link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css')}}">

			<link rel="stylesheet" href="{{ asset('assets/css/aos.css')}}">

			<link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css')}}">

			<link rel="stylesheet" href="{{ asset('assets/css/flaticon.css')}}">
			<link rel="stylesheet" href="{{ asset('assets/css/icomoon.css')}}">
			<link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">

			<link rel="stylesheet" href="{{ asset('assets/owlcarousel/owl.carousel.min.css')}}">
			<link rel="stylesheet" href="{{ asset('assets/owlcarousel/owl.theme.default.min.css')}}">

		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}		
		{% include 'inc/cookies.html.twig' %}
		{% block javascripts %}
			<script src="{{ asset('assets/js/jquery.min.js')}}"></script>
			<script src="{{ asset('assets/js/jquery-migrate-3.0.1.min.js')}}"></script>
			<script src="{{ asset('assets/js/popper.min.js')}}"></script>
			<script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
			<script src="{{ asset('assets/js/jquery.easing.1.3.js')}}"></script>
			<script src="{{ asset('assets/js/jquery.waypoints.min.js')}}"></script>
			<script src="{{ asset('assets/js/jquery.stellar.min.js')}}"></script>
			<script src="{{ asset('assets/js/owl.carousel.min.js')}}"></script>
			<script src="{{ asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
			<script src="{{ asset('assets/js/aos.js')}}"></script>
			<script src="{{ asset('assets/js/jquery.animateNumber.min.js')}}"></script>
			<script src="{{ asset('assets/js/scrollax.min.js')}}"></script>
			<script src="{{ asset('assets/js/main.js')}}"></script>
			<script src="{{ asset('assets/owlcarousel/owl.carousel.min.js')}}"></script>
			<script type="text/javascript">
				var owl = $('.owl-carousel');
owl.owlCarousel({
items: 4,
loop: true,
margin: 10,
autoplay: true,
autoplayTimeout: 3000,
autoplayHoverPause: true
});
			</script>
		{% endblock %}
	</body>
</html></body></html>
