{% extends 'baseAdmin.html.twig' %}

{% block title %}
	{{ parent() }}Nouvelles compétences
{% endblock %}

{% block body %}
	<div class="card-body">
		RUBRIQUE Compétences
		{% form_theme skillsForm 'bootstrap_4_layout.html.twig' %}
		{{ form_start(skillsForm) }}
		{{ form_row(skillsForm.name) }}
		{{ form_row(skillsForm.percent) }}
		{{ form_row(skillsForm.submit) }}
		{{ form_end(skillsForm) }}
	</div>
{% endblock %}
